# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]
*$py.class

# Compiled Extensions
*.so

# ===========================
# Virtual Environments
# ===========================

.venv/
venv/
env/
ENV/

# ===========================
# Build & Distribution
# ===========================

build/
dist/
*.egg-info/
.eggs/

# ===========================
# PyInstaller
# ===========================

*.spec

# ===========================
# Testing
# ===========================

.pytest_cache/
.coverage
htmlcov/

# ===========================
# Type Checkers
# ===========================

.mypy_cache/
.pyre/
.ruff_cache/

# ===========================
# IDEs
# ===========================

.vscode/
.idea/

# ===========================
# Environment Variables
# ===========================

.env

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Operating System
# ===========================

Thumbs.db
.DS_Store

# ===========================
# Jupyter
# ===========================

.ipynb_checkpoints/

# ===========================
# Qt Generated
# ===========================

*.qmlc
*.jsc
*.rcc